<!DOCTYPE html>
<html lang="en-au">
<head>
    <title>Worm under a video</title>
    <link rel="stylesheet" href="/styles/worm-under-a-video.css" />
</head>
<body>
    <h1>Worm under a video</h1>
    <script type="text/javascript" src="/scripts/worm-under-a-video.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    </script>
</body>
</html>