<!DOCTYPE html>
<html lang="en-au">
<head>
    <title>Worm under a video</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/worm-under-a-video.css" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    <h1>Worm under a video</h1>

    <h1>Worm-o-meter</h1>
    <p>Yay</p>
    <div id="slider-vertical" style="height: 200px;"></div>
    <p>Boo</p>

    <div id="container" style="min-width: 310px; height: 200px; margin: 0 auto"></div>

    <script type="text/javascript" src="/scripts/worm-under-a-video.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    </script>
</body>
</html>