<!DOCTYPE html>
<html lang="en-au">
<head>
    <title>Worm under a video</title>
    <link rel="stylesheet" href="/styles/worm-under-a-video.css" />
</head>
<body>
    <h1>Worm under a video</h1>
    <script type="text/javascript" src="/scripts/worm-under-a-video.js"></script>
</body>
</html>