<!DOCTYPE html>
<html lang="en-au">
<head>
    <title>Worm under a video</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/worm-under-a-video.css" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://shared.ninemsn.com.au/share/short_cache/js/video/ninemsn.portal.common.video.loader-latest.min.js"></script>

</head>
<body>
    <h1>Worm under a video</h1>

    <h1>Worm-o-meter</h1>
    <p>Yay</p>
    <div id="slider-vertical" style="height: 200px;"></div>
    <p>Boo</p>
    <div id="videoPlayer"></div>
    <script type="text/javascript">
        var myPlayer;
        ninemsn.portal.common.video.ready(function () {
            myPlayer = new ninemsn.portal.common.video.Player({
                outputLocation: "videoPlayer",
                data: {
                    method: ninemsn.portal.common.video.enumerations.data.method.ID,
                    filter: {
                        // id: "2633252440001"
                        id: '97F3402B-B6B6-451A-A99B-03127133372D'
                    }
                },
                ads: {
                    freewheel: {
                        serverUrl: 'http://5c264.v.fwmrm.net',
                        networkId: 377444,
                        siteSection: 'noAds'
                    }
                }
            });
        });

        var calculatePosition = function () {
            setTimeout(function () {
                if (myPlayer && myPlayer.get) {
                    var myPos = myPlayer.get('POSITION');
                    console.log(myPos);
                }
                calculatePosition();
            },100);
        }
        calculatePosition();
    </script>
    <div id="container" style="min-width: 310px; height: 200px; margin: 0 auto"></div>

    <script type="text/javascript" src="/scripts/worm-under-a-video.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    </script>
</body>
</html>