<!DOCTYPE html>
<html lang="en-au">
<head>
    <title>Worm under a video</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/worm-under-a-video.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
</head>
<body>

    <div class="row">
        <div class="span12 main">
            <h1>Worm under a video</h1>
            <hr />

            <div style="overflow: auto; background: rgba(200, 200, 200, 0.3); padding: 10px 0">

                <div class="slider pull-left">
                    <div id="slider-vertical" style="height: 499px; width: 75px; "></div>
                </div>

                <div id="video"></div>
            </div>
            <hr style="clear:both;margin-top: 20px;" />

            <div style="overflow: auto; background: rgba(200, 200, 200, 0.3); padding: 10px 0">
                <div id="container" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
            </div>

            <hr />
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://shared.ninemsn.com.au/share/short_cache/js/video/ninemsn.portal.common.video.loader-latest.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/worm-under-a-video.js"></script>
</body>
</html>