body {
    background-color: black;
    color: white;
}

#video {
    width: 820px;
    height: 500px;
    background-color: grey;
    float: right;
    margin: 0px 10px 0px 0;

}

#explanation {
    font-size:1.8em;
    text-align: center;
    padding: 10px 0px;
    display: none;
}

.comments-box {
    width: 100%;
    margin: 0;
    resize: none;
}

.comments-label {
    margin: 20px 0 5px 0;
}

.comments-submit-button {
    cursor: pointer;
    color: white;
    display: block;
    margin: 5px 0 20px 0;
}

.comment-container {
    float: left;
    width: 60%
}
span.yes {
    position: absolute;
    width: 78px;
    text-align: center;
    z-index: 10;
    top: 5px;
}

span.no {
    position: absolute;
    width: 78px;
    bottom: 5px;
    text-align: center;
    z-index: 10;
}

div.main {
    margin: 0 auto;
    float: none;
    position: relative;
}

.thumbs {
    position: absolute;
    left: -50px;
    top: 112px;
    height: 498px;
    width: 50px;
}

.thumbs .yes {
    position: absolute;
    top: -31px;
    left: -21px;
    width: 113px;
    height: 71px;
    display: block;
    background: url("/assets/large_green_thumbs.png") no-repeat;
    font-size: 18pt;
}

.thumbs .yes:after {
    content: "YAY";
    display: block;
    position: absolute;
    bottom: -36px;
    text-align: center;
    left: 7px;
}

.thumbs .no {
    position: absolute;
    bottom: 26px;
    left: -21px;
    width: 113px;
    height: 71px;
    display: block;
    background: url("/assets/large_red_thumb.png") no-repeat;
    font-size: 18pt;
}

.thumbs .no:after {
    content: "NAY";
    display: block;
    position: absolute;
    bottom: 79px;
    text-align: center;
    left: 7px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 30px !important;
    z-index: 12 !important;
    border-radius: 30px;
    height: 30px;
}

.slider {
    padding: 0px 0 0 15px;
    position: relative;
}

#container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

div.page {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.number {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 23px;
    padding: 5px 0;
}

.comments {
    float: left;
    width: 40%;
    overflow: hidden;
    max-height: 100px;
}

.comment {
    float: right;
    padding: 5px;
    width: 315px;
    height: 50px;
    background: #ccc;
    border-radius: 10px;
    margin: 15px;
    line-height: 50px;
    padding-left: 15px;
}

#slider-vertical {
    background: linear-gradient(to bottom, #4eb748 0%,#941a1d 100%); /* W3C */
    background: -webkit-linear-gradient(top, #4eb748 0%,#941a1d 100%); /* Chrome10+,Safari5.1+ */
}

.slider-container {
    position: relative;
}

.yes {
    position: absolute;
    left: -50px;
}