body {
    background-color: black;
    color: white;
}

#video {
    width: 820px;
    height: 500px;
    background-color: grey;
    float: right;
    margin: 0px 10px 0px 0;

}

.comments-box {
    width: 926px;
    margin: 0;
    resize: none;
}

.comments-label {
    margin: 10px 0 0 0;
}

.comments-submit-button {
    cursor: pointer;
}

span.yes {
    position: absolute;
    width: 78px;
    text-align: center;
    z-index: 10;
    top: 5px;
}

span.no {
    position: absolute;
    width: 78px;
    bottom: 5px;
    text-align: center;
    z-index: 10;
}

div.main {
    margin: 0 auto;
    float: none;
    position: relative;
}

.thumbs {
    position: absolute;
    left: -50px;
    top: 112px;
    height: 498px;
    width: 50px;
}

.thumbs .yes {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
}

.thumbs .no {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 30px !important;
    z-index: 12 !important;
    border-radius: 30px;
    height: 30px;
}

.slider {
    padding: 0px 0 0 15px;
    position: relative;
}

#container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

div.page {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.number {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 23px;
    padding: 5px 0;
}

.comments {
    width: 100%;
    overflow: hidden;
    max-height: 100px;
}

.comment {
    float: right;
    padding: 5px;
    min-width: 150px;
    min-height: 50px;
    border: 1px solid #aaa;
    background: #ccc;
    border-radius: 10px;
    margin: 15px;
}

#slider-vertical {
    background: linear-gradient(to bottom, #4eb748 0%,#941a1d 100%); /* W3C */
}

.slider-container {
    position: relative;
}

.yes {
    position: absolute;
    left: -50px;
}