#video {
    width: 820px;
    height: 500px;
    background-color: grey;
    float: right;
    margin: 0px 10px 0px 0;

}

.comments-box {
    width: 926px;
    margin: 0;
    resize: none;
}

.comments-label {
    margin: 10px 0 0 0;
}

.comments-submit-button {
    cursor: pointer;
}

span.yes {
    position: absolute;
    width: 78px;
    text-align: center;
    z-index: 10;
    top: 5px;
}

span.no {
    position: absolute;
    width: 78px;
    bottom: 5px;
    text-align: center;
    z-index: 10;
}

div.main {
    margin: 0 auto;
    float: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 5.3em !important;
    z-index: 12 !important;
}

.slider {
    padding: 0px 0 0 15px;
    position: relative;
}

#container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

div.page {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.number {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 23px;
    padding: 5px 0;
}